<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>com.github.rsvoboda.sse.JAXRSConfiguration</servlet-name>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.github.rsvoboda.sse.JAXRSConfiguration</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

</web-app>